.card-container {
    width: 18rem;
    margin-bottom: 20px; /* Ajusta el margen inferior entre tarjetas */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
      
}

.border-primary{
    border-color: #ff33a5;

}
  
.card-body-custom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-img-top {
    width: 100%; /* O un valor fijo en píxeles, por ejemplo: width: 300px; */
    height: 250px; /* Define una altura fija para todas las imágenes */
    object-fit: cover; /* Esto asegura que la imagen cubra el espacio asignado sin deformarse, recortando si es necesario */
  }
  

.btn-rosa {
    background-color: #ff33a5;
    border-color: #ff33a5;
}
